<%-include('__externallink.ejs')%>
<%-include('_bootstrap.ejs')%>

<%-include('__externalscriptlink.ejs')%>
<body class="container-fluid">
  <%-include('_topbar.ejs')%>

<div>  
  <div class="px-4 px-lg-0 ">   
    <!-- For demo purpose -->
    <div class="pb-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

            <!-- Shopping cart table -->
            <div class="table-responsive">
              <table class="table mt-4">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-primary">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-primary">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-primary">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-primary">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <%orderData.map((cart,index)=>{%>
                    <tr>
                      <th scope="row" class="border-0">
                        <div class="p-2">
                            
                          <img src="<%=cart.thumbnail%>" alt="" width="70" class="img-fluid rounded shadow-sm">
                          <div class="ml-3 d-inline-block align-middle">
                            <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle"></a>
                              <%=cart.title%>
                            </h5><span class="text-muted font-weight-normal font-italic d-block">
                              <%=cart.brand%>
                            </span>
                          </div>
                        </div>
                      </th>
                      <td class="border-0 align-middle">
                        <div class="col-md-1" id="price<%=index%>">
                          <%=cart.price%>
                        </div>
                      </td>
                       </td>
                    </tr>
                    <%})%>

                </tbody>

              </table>
              
            </div>
            <!-- End -->
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
</body>
